<h1>AnnuaireSante's Public Extraction Data Browser.</h1>
<h3>Data last updated on : <%= @version[6..7] %>/<%= @version[4..5] %>/<%= @version[0..3] %> - <%= @version[-4..-3] %>h<%= @version[-2..-1] %></h3>
<h4>If the site doesn't answer (esp ~9:30AM GMT) it's currently updating. In which case please come back a while later.</h4>

<h2>Browsing the RPPS ids.</h2>
<code>/entries</code> will return the first 50 entries.<br>
<code>/entries?page=1</code> will return the next 50.<br>
<code>/entries?page=2</code> ...<br>

<h2>Getting a list of all pharmacians RPPS ids in the database.</h2>
<code>GET /entries/all</code><br>
/!\ Careful - Heavy response.<br>
Using pagination is recommended.<br>

<h2>Browsing specific data.</h2>
<code>GET /entries?column=siret</code> will return a list of the 50 first SIRET numbers associated with the RPPS of their owner.<br>
<code>GET /entries?column=siret&page=1</code> will return a list of the next 50 SIRET numbers associated with the RPPS of their owner.<br>
<code>GET /entries/all?column=siret</code> will return a list of all SIRET numbers associated with the RPPS of their owner.<br>
<code>GET /entries?column=non_existing_column</code> will simply ignore the request and answer correspondingly to the other parameters.<br>
Curently supported data columns are :<ul>
  <li><code>rpps_id</code></li>
  <li><code>first_name</code></li>
  <li><code>last_name</code></li>
  <li><code>siret</code></li>
  <li><code>siren</code></li>
  <li><code>finess</code></li>
  <li><code>finess_judicial</code></li>
</ul>
<strong>NB:</strong> The response is devoid of empty data.<br>
!-- <code>/entries?column=email_address [3]["email_adress"] <strong>!=</strong> /entries [3]["email_address"]</code> --!

<h2>Getting details on a specific pharmacist.</h2>
<code>GET /entries/[rpps_id]</code>
<ul>
  <li>Will return 404 if the RPPS is not in the database.</li>
  <li>Otherwise will return a hash with the following keys :
    <ul>
      <li>
        <code>rpps_id</code>
      </li>
      <li>
        <code>first_name</code>
      </li>
      <li>
        <code>last_name</code>
      </li>
      <li>
        <code>siret</code>
      </li>
      <li>
        <code>siret</code>
      </li>
      <li>
        <code>finess</code>
      </li>
      <li>
        <code>finess_judicial</code>
      </li>
    </ul>
  </li>
</ul>
